# Віртуальне середовище
.venv/
venv/
env/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Файли з секретами та змінними оточення
.env

# Бази даних (якщо використовуєш локальну SQLite)
*.sqlite3
*.db